<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Orders</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ng-container *ngIf="isLoading()">
    <div class="spinner-container">
      <ion-spinner name="crescent" color="secondary"></ion-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading()">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="main-container">
      <div class="sub-container">
        @for (order_request of orders(); track $index) {
          <ion-card (click)="viewOrderDetails(order_request)" >
            <ion-card-content>
              <div class="card-main-container">
                <div class="order-no-container">
                  <p>Order</p>
                  <ion-label color="dark" style="font-size: 27px; font-weight: 600;">#{{ order_request.idOrderRequest }}</ion-label>
                </div>
                <div class="div-ion-card-content">
                  <p>{{ order_request.orderDateTime | date: "MMMM dd, yyyy 'at' hh:mm a" }}</p>
                  <p>Status: <ion-label [color]="labelColor(order_request.status)">{{ order_request.status }}</ion-label></p>
                  <p>Total: {{ order_request.totalDue | currency: 'Q' }}</p>
                  @if(order_request.status !== 'completed' && order_request.status !== 'cancelled') {
                    <ion-button color="danger" class="cancel-btn" (click)="cancelOrder($event, order_request)" >Cancel</ion-button>
                  }
                </div>
              </div>
            </ion-card-content>

          </ion-card>
        }
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="orderListIsEmpty() && !isLoading()">
    <div class="no-orders-made-container">
      <p>No orders have been made <ion-icon name="sad-outline"></ion-icon></p>
      <ion-button color="primary" [routerLink]="['/menu']" routerLinkActive="router-link-active" >
        New order
        <ion-icon name="add-outline" style="padding: 5px;"></ion-icon>
      </ion-button>
    </div>
  </ng-container>
  
</ion-content>