<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo-container">
      <img src="../../assets/dev_grill_logo.svg" alt="dev logo" width="70" height="70">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <form [formGroup]="loginForm">
      <ion-text>
        <h2>Login</h2>
      </ion-text>
      <div class="input-container">
        <ion-input
          label="Email"
          type="email"
          label-placement="floating"
          fill="outline" 
          placeholder="Enter your email"
          formControlName="email"
        >
        </ion-input>
        <ion-input
          label="password"
          type="password"
          label-placement="floating"
          fill="outline"
          placeholder="Enter your password"
          formControlName="password"
        >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>

        @if(incorrectLogin()) {
          <ion-text color="danger">Incorrect email or password, try again</ion-text>
        } @else if(returnedError()) {
          <ion-text color="danger">Something went wrong, try again later.</ion-text>
        }

        <ion-button (click)="onSubmit()" [disabled]="loginForm.invalid" >Login</ion-button>
      </div>
      <div class="create-container">
        <ion-button  [routerLink]="['/sign']">Create an account</ion-button>
      </div>
    </form>
  </div>
</ion-content>
