<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-title style="text-align: start">Menu</ion-title>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <div class="cart-container">
            <ion-button
              fill="clear"
              class="ion-btn"
              (click)="openCartMenu($event)"
            >
              <div class="sub-btn-container">
                <ion-badge color="primary">{{ numberOfItems() }}</ion-badge>
                <ion-icon name="cart-outline" color="dark"></ion-icon>
              </div>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="isLoading()">
    <div class="container">
      <ion-spinner name="crescent" color="secondary"></ion-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading()">
    <div class="container-1" >
      <div class="sub-container">
        @for (menu of menuList(); track $index) {
          <ion-card>
            <img 
              alt="menu's photo no. {{ $index }}"
              [src]="menu.photo"
              style="height: 50%;
                width: 100%; 
                object-fit: cover;
              "
            />
            <ion-card-content>
              <div class="menu-info-container">
                <ion-text color="dark">
                  <p>{{ menu.name }}</p>
                </ion-text>
                <ion-text>
                  <h6>{{ menu.price | currency: 'Q' }}</h6>
                </ion-text>
              </div>
            </ion-card-content>
            <div class="btn-action-container">
              <ion-button 
                [disabled]="!menu.isAvailable"
                (click)="addToCartHandler(menu)"
              >
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="getMoreDetails(menu)" >
                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-card>
        }
      </div>
    </div>
  </ng-container>
</ion-content>