<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Menu" href="/Menu">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Orders" href="/Orders">
      <ion-icon aria-hidden="true" name="reader-outline" ></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="News" href="/News">
      <ion-icon aria-hidden="true" name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Profile" href="/Profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
