.spinner-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-content {
    overflow-y: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    justify-content: flex-start;
    overflow-y: auto;
}

.main-container .main-info {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ion-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

ion-item, ion-row, ion-grid, .accordion-container {
    width: 100%;
}

.special-card-content {
    padding: 5px;
    overflow-y: auto;
}

ion-accordion-group {
    overflow-y: auto;
}

.ion-col {
    text-align: center;
}